.container {
  text-align: left;
  padding: 50px;

  .title {
    margin: 50px 0;
    font-size: 40px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
  }

  .code {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;

    /deep/ .public-input-tab {
      border: none;
    }

    .send-code {
      flex-shrink: 0;
      padding: 20px 12px;
      background: #FFC501;
      border-radius: 4px;
      font-size: 28px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #333333;

      &.isActive {
        color: #fff;
        background: #ccc;
      }
    }
  }

  .remark {
    margin-top: 20px;
    // color: #44828c;
    color: red;
    font-weight: 400;
  }

  .submit {
    width: 100%;
    line-height: 88px;
    text-align: center;
    background: #FFC501;
    border-radius: 4px;
    margin-top: 100px;
    font-size: 32px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
  }

  .base {
    background: #ffffff;
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;

    .base-tab {
      flex: 0 0 auto;
      width: 320px;
    }
  }
}
