.bmxq {
  .public-classify-tab {
    padding: 30px;
  }

  .bd-line {
    height: 16px;
    background: #F5F5F5;
  }

  .middle {
    // padding: 30px;
    // height: 74vh;
    // overflow-y: scroll;
  }

  .footer {
    padding: 30px;
  }
}
